<h1 style="font-size:36px;">Data exploration of INSPIRE, a publicly available research dataset for perioperative medicine</h1>

<h2 style="font-size:20px;">In this script data exploration and analysis of ""labs.csv" is shown</h2>

link: https://physionet.org/content/inspire/0.1/

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import datasets  # Example, importing datasets module
import tensorflow as tf
import torch
import keras
import scipy
import statsmodels

print("Libraries Imported")

Libraries Imported

In [2]:
#test
"""
# Creating a NumPy array
arr = np.array([1, 2, 3, 4, 5])

# Creating a Pandas DataFrame
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

# Creating a Matplotlib plot
plt.plot([1, 2, 3], [4, 5, 6])

# Creating a Seaborn plot
sns.scatterplot(data=df, x='A', y='B')

# Creating a TensorFlow constant
tensor = tf.constant([1, 2, 3])

# Creating a PyTorch tensor
tensor = torch.tensor([1, 2, 3])

# Using Keras layers
model = keras.Sequential()
"""

"\n# Creating a NumPy array\narr = np.array([1, 2, 3, 4, 5])\n\n# Creating a Pandas DataFrame\ndata = {'A': [1, 2, 3], 'B': [4, 5, 6]}\ndf = pd.DataFrame(data)\n\n# Creating a Matplotlib plot\nplt.plot([1, 2, 3], [4, 5, 6])\n\n# Creating a Seaborn plot\nsns.scatterplot(data=df, x='A', y='B')\n\n# Creating a TensorFlow constant\ntensor = tf.constant([1, 2, 3])\n\n# Creating a PyTorch tensor\ntensor = torch.tensor([1, 2, 3])\n\n# Using Keras layers\nmodel = keras.Sequential()\n"

In [8]:
df_labs = pd.read_csv('c:\\Users\\20181588\\Desktop\\data\\inspire-a-publicly-available-research-dataset-for-perioperative-medicine-0.1\\inspire-a-publicly-available-research-dataset-for-perioperative-medicine-0.1\\labs.csv')

In [9]:
df_labs.head()

   subject_id  chart_time      item_name  value
0   133338290       86155  total_protein    7.0
1   133338290       86155         sodium  141.0
2   133338290       86155      potassium    4.4
3   133338290       86155       platelet  151.0
4   133338290       93150        glucose  123.0

In [10]:
df_labs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8490061 entries, 0 to 8490060
Data columns (total 4 columns):
 #   Column      Dtype
---  ------      -----
 0   subject_id  int64
 1   chart_time  int64
 2   item_name   object
 3   value       float64
dtypes: float64(1), int64(2), object(1)
memory usage: 259.1+ MB

In [11]:
df_labs.describe()

         subject_id    chart_time         value
count  8.490061e+06  8.490061e+06  8.490061e+06
mean   1.498364e+08  4.326038e+05  5.050987e+01
std    2.883143e+07  9.209441e+05  1.050658e+02
min    1.000018e+08 -2.591350e+05 -3.000000e+01
25%    1.251157e+08  3.615000e+03  3.800000e+00
50%    1.492227e+08  1.861500e+04  1.200000e+01
75%    1.749861e+08  2.987000e+05  7.700000e+01
max    1.999978e+08  5.512830e+06  7.491400e+04

In [12]:
df_labs.columns

Index(['subject_id', 'chart_time', 'item_name', 'value'], dtype='object')