<h1 style="font-size:36px;">Data exploration of INSPIRE, a publicly available research dataset for perioperative medicine</h1>

<h2 style="font-size:20px;">In this script data exploration and analysis of ""ward_vitals.csv" is shown</h2>

link: https://physionet.org/content/inspire/0.1/

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import datasets  # Example, importing datasets module
import tensorflow as tf
import torch
import keras
import scipy
import statsmodels

print("Libraries Imported")

Libraries Imported

In [2]:
df_ward_vitals = pd.read_csv('C:\\Users\\20181588\\Desktop\\data\\inspire-a-publicly-available-research-dataset-for-perioperative-medicine-1.0\\inspire-a-publicly-available-research-dataset-for-perioperative-medicine-1.0\\ward_vitals.csv')

In [3]:
df_ward_vitals.head(30)

    subject_id  chart_time item_name  value
0    104192463         580      spo2   98.0
1    104192463         580  nibp_sbp  184.0
2    104192463         580        hr   96.0
3    104192463         580  nibp_dbp  114.0
4    104192463         580        bt   36.5
5    104192463         580        rr   16.0
6    104192463         825      spo2   96.0
7    104192463         825  nibp_sbp  162.0
8    104192463         825        hr   94.0
9    104192463         825  nibp_dbp   99.0
10   104192463         825        bt   36.6
11   104192463         825        rr   18.0
12   104192463         900  nibp_sbp  158.0
13   104192463         900  nibp_dbp  105.0
14   104192463         900        bt   37.3
15   104192463         900        rr   18.0
16   104192463         960  nibp_sbp  150.0
17   104192463         960  nibp_dbp   99.0
18   104192463         960        bt   37.6
19   104192463         960        rr   18.0
20   104192463        1260  nibp_sbp  143.0
21   104192463        1260  nibp_dbp  100.0
22   104192463        1260        bt   37.5
23   104192463        1260        rr   18.0
24   104192463        1440  nibp_sbp  130.0
25   104192463        1440  nibp_dbp   86.0
26   104192463        1440        bt   37.3
27   104192463        1440        rr   18.0
28   104192463        1740        bt   36.5
29   104192463        1740        rr   18.0

In [7]:
unique_subject_ids = df_ward_vitals['subject_id'].nunique()
print(unique_subject_ids)

99789

In [4]:
df_ward_vitals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42679760 entries, 0 to 42679759
Data columns (total 4 columns):
 #   Column      Dtype
---  ------      -----
 0   subject_id  int64
 1   chart_time  int64
 2   item_name   object
 3   value       float64
dtypes: float64(1), int64(2), object(1)
memory usage: 1.3+ GB

In [5]:
df_ward_vitals.describe()

         subject_id    chart_time         value
count  4.267976e+07  4.267976e+07  4.267867e+07
mean   1.491083e+08  2.948288e+05  8.096836e+02
std    2.881788e+07  7.333644e+05  4.828643e+06
min    1.000008e+08 -2.592000e+05 -9.600000e+01
25%    1.237287e+08  3.625000e+03  3.680000e+01
50%    1.481926e+08  1.110000e+04  7.200000e+01
75%    1.740061e+08  7.878000e+04  9.800000e+01
max    1.999994e+08  5.377905e+06  3.154500e+10

In [6]:
df_ward_vitals.columns

Index(['subject_id', 'chart_time', 'item_name', 'value'], dtype='object')