<h1 style="font-size:36px;">Data exploration of INSPIRE, a publicly available research dataset for perioperative medicine</h1>

<h2 style="font-size:20px;">In this script data exploration and analysis of ""parameters.csv" is shown</h2>

link: https://physionet.org/content/inspire/0.1/

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import datasets  # Example, importing datasets module
import tensorflow as tf
import torch
import keras
import scipy
import statsmodels

print("Libraries Imported")

Libraries Imported

In [2]:
df_parameters = pd.read_csv('C:\\Users\\20181588\\Desktop\\data\\inspire-a-publicly-available-research-dataset-for-perioperative-medicine-1.0\\inspire-a-publicly-available-research-dataset-for-perioperative-medicine-1.0\\parameters.csv')

In [3]:
df_parameters.head()

  Table    Label  Unit                            Description
0  labs  albumin  g/dL                                Albumin
1  labs      alp  IU/L                   Alkaline phosphatase
2  labs      alt  IU/L                   Alanine transaminase
3  labs     aptt   sec  Activated partial thromboplastin time
4  labs      ast  IU/L                 Aspartate transaminase

In [4]:
df_parameters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Table        118 non-null    object
 1   Label        118 non-null    object
 2   Unit         116 non-null    object
 3   Description  118 non-null    object
dtypes: object(4)
memory usage: 3.8+ KB

In [5]:
df_parameters.describe()

         Table Label  Unit                   Description
count      118   118   116                           118
unique       3   111    27                           112
top     vitals    hr  mmHg  Peripheral oxygen saturation
freq        71     2    16                             2

In [6]:
df_parameters.columns

Index(['Table', 'Label', 'Unit', 'Description'], dtype='object')