<h1 style="font-size:36px;">Data exploration of INSPIRE, a publicly available research dataset for perioperative medicine</h1>

<h2 style="font-size:20px;">In this script data exploration and analysis of ""schema.csv" is shown</h2>

link: https://physionet.org/content/inspire/0.1/

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import datasets  # Example, importing datasets module
import tensorflow as tf
import torch
import keras
import scipy
import statsmodels

print("Libraries Imported")

Libraries Imported

In [2]:
#test
"""
# Creating a NumPy array
arr = np.array([1, 2, 3, 4, 5])

# Creating a Pandas DataFrame
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

# Creating a Matplotlib plot
plt.plot([1, 2, 3], [4, 5, 6])

# Creating a Seaborn plot
sns.scatterplot(data=df, x='A', y='B')

# Creating a TensorFlow constant
tensor = tf.constant([1, 2, 3])

# Creating a PyTorch tensor
tensor = torch.tensor([1, 2, 3])

# Using Keras layers
model = keras.Sequential()
"""

"\n# Creating a NumPy array\narr = np.array([1, 2, 3, 4, 5])\n\n# Creating a Pandas DataFrame\ndata = {'A': [1, 2, 3], 'B': [4, 5, 6]}\ndf = pd.DataFrame(data)\n\n# Creating a Matplotlib plot\nplt.plot([1, 2, 3], [4, 5, 6])\n\n# Creating a Seaborn plot\nsns.scatterplot(data=df, x='A', y='B')\n\n# Creating a TensorFlow constant\ntensor = tf.constant([1, 2, 3])\n\n# Creating a PyTorch tensor\ntensor = torch.tensor([1, 2, 3])\n\n# Using Keras layers\nmodel = keras.Sequential()\n"

In [3]:
df_schema = pd.read_csv('c:\\Users\\20181588\\Desktop\\data\\inspire-a-publicly-available-research-dataset-for-perioperative-medicine-0.1\\inspire-a-publicly-available-research-dataset-for-perioperative-medicine-0.1\\schema.csv')

In [4]:
df_schema.head()

,Table,Variable,Type,Description
0,operations,op_id,Number,A random number starts with 4 for the operation.
1,NaN,subject_id,Number,A random number starts with 1 for the patient.
2,NaN,hadm_id,Number,A random number starts with 2 for hospital adm...
3,NaN,case_id,Number,A linker to VitalDB Open Dataset
4,NaN,opdate,Relative Time,Operation date

In [5]:
df_schema.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Table        6 non-null      object
 1   Variable     47 non-null     object
 2   Type         47 non-null     object
 3   Description  47 non-null     object
dtypes: object(4)
memory usage: 1.6+ KB

In [6]:
df_schema.describe()

,Table,Variable,Type,Description
count,6,47,47,47
unique,6,33,6,36
top,operations,subject_id,Relative Time,The patient identifier defined in the operatio...
freq,1,6,19,5

In [7]:
df_schema.columns

Index(['Table', 'Variable', 'Type', 'Description'], dtype='object')