Data exploration of INSPIRE, a publicly available research dataset for perioperative medicine

In this script data exploration and analysis of ""diagnosis.csv" is shown

link: https://physionet.org/content/inspire/0.1/

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import datasets  # Example, importing datasets module
import tensorflow as tf
import torch
import keras
import scipy
import statsmodels

print("Libraries Imported")

Libraries Imported

In [2]:
df_diagnosis = pd.read_csv('C:\\Users\\20181588\\Desktop\\data\\inspire-a-publicly-available-research-dataset-for-perioperative-medicine-1.0\\inspire-a-publicly-available-research-dataset-for-perioperative-medicine-1.0\\diagnosis.csv')

In [3]:
df_diagnosis.head()

   subject_id  chart_time icd10_cm
0   190852492      325440      R06
1   190852492      325440      G20
2   142367193           0      I61
3   142367193      658080      E11
4   142367193      658080      G44

In [4]:
df_diagnosis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4733046 entries, 0 to 4733045
Data columns (total 3 columns):
 #   Column      Dtype
---  ------      -----
 0   subject_id  int64
 1   chart_time  int64
 2   icd10_cm    object
dtypes: int64(2), object(1)
memory usage: 108.3+ MB

In [7]:
unique_icd10_pcs_values = df_diagnosis['icd10_cm'].unique()
print(unique_icd10_pcs_values[:30])

['R06' 'G20' 'I61' 'E11' 'G44' 'R25' 'R51' 'A16' 'J98' 'R55' 'R35' 'S02'
 'T84' 'S73' 'N18' 'Z94' 'C18' 'S42' 'C50' 'D05' 'R05' 'N30' 'R50' 'J06'
 'K29' 'S72' 'R52' 'S52' 'N40' 'R33']

In [8]:
unique_icd10_pcs_values = df_diagnosis['chart_time'].unique()
print(unique_icd10_pcs_values[:30])

[ 325440       0  658080   80640    1440   -1440 -156960  -41760   -5760
 -110880   20160  -40320   83520  144000  159840  823680  911520 1334880
 1339200  -24480 -256320  796320  100800  948960 1258560 1774080 1188000
   24480  273600  303840]

In [9]:
unique_icd10_pcs_values = df_diagnosis['subject_id'].unique()
print(unique_icd10_pcs_values[:30])

[190852492 142367193 178346414 128748700 109644621 172098362 117033203
 189240010 121299142 140788534 170001893 144464483 197356761 129028203
 149650122 162084742 121839981 192477153 193838042 195452213 118735512
 104550663 104495240 140464442 195768734 149912663 147682702 131034901
 198544171 100880723]

In [5]:
df_diagnosis.describe()

         subject_id    chart_time
count  4.733046e+06  4.733046e+06
mean   1.501308e+08  1.079468e+06
std    2.885684e+07  1.221519e+06
min    1.000008e+08 -2.592000e+05
25%    1.251906e+08  6.768000e+04
50%    1.501546e+08  6.220800e+05
75%    1.749923e+08  1.784160e+06
max    1.999994e+08  7.457760e+06

In [6]:
df_diagnosis.columns

Index(['subject_id', 'chart_time', 'icd10_cm'], dtype='object')