<h1 style="font-size:36px;">Data exploration of INSPIRE, a publicly available research dataset for perioperative medicine</h1>

<h2 style="font-size:20px;">In this script data exploration and analysis of ""vitals.csv" is shown</h2>

link: https://physionet.org/content/inspire/0.1/

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import datasets  # Example, importing datasets module
import tensorflow as tf
import torch
import keras
import scipy
import statsmodels

print("Libraries Imported")

Libraries Imported

In [3]:
#test
"""
# Creating a NumPy array
arr = np.array([1, 2, 3, 4, 5])

# Creating a Pandas DataFrame
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

# Creating a Matplotlib plot
plt.plot([1, 2, 3], [4, 5, 6])

# Creating a Seaborn plot
sns.scatterplot(data=df, x='A', y='B')

# Creating a TensorFlow constant
tensor = tf.constant([1, 2, 3])

# Creating a PyTorch tensor
tensor = torch.tensor([1, 2, 3])

# Using Keras layers
model = keras.Sequential()
"""

"\n# Creating a NumPy array\narr = np.array([1, 2, 3, 4, 5])\n\n# Creating a Pandas DataFrame\ndata = {'A': [1, 2, 3], 'B': [4, 5, 6]}\ndf = pd.DataFrame(data)\n\n# Creating a Matplotlib plot\nplt.plot([1, 2, 3], [4, 5, 6])\n\n# Creating a Seaborn plot\nsns.scatterplot(data=df, x='A', y='B')\n\n# Creating a TensorFlow constant\ntensor = tf.constant([1, 2, 3])\n\n# Creating a PyTorch tensor\ntensor = torch.tensor([1, 2, 3])\n\n# Using Keras layers\nmodel = keras.Sequential()\n"

In [4]:
df_vitals = pd.read_csv('c:\\Users\\20181588\\Desktop\\data\\inspire-a-publicly-available-research-dataset-for-perioperative-medicine-0.1\\inspire-a-publicly-available-research-dataset-for-perioperative-medicine-0.1\\vitals.csv')

In [5]:
df_vitals.head()

       op_id  subject_id  chart_time item_name  value
0  428563245   155496940        1920  nibp_sbp  142.0
1  428563245   155496940        1920  nibp_dbp   60.0
2  428563245   155496940        1920  nibp_mbp   86.0
3  428563245   155496940        1920        o2    0.0
4  428563245   155496940        1920        hs    0.0

In [6]:
df_vitals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26305136 entries, 0 to 26305135
Data columns (total 5 columns):
 #   Column      Dtype
---  ------      -----
 0   op_id       int64
 1   subject_id  int64
 2   chart_time  int64
 3   item_name   object
 4   value       float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1003.5+ MB

In [7]:
df_vitals.describe()

              op_id    subject_id    chart_time         value
count  2.630514e+07  2.630514e+07  2.630514e+07  2.630514e+07
mean   4.503678e+08  1.501248e+08  2.133934e+05  6.662137e+01
std    2.883870e+07  2.895786e+07  6.596990e+05  1.060960e+04
min    4.000005e+08  1.000018e+08 -1.440000e+03 -3.274700e+04
25%    4.253698e+08  1.251854e+08  2.260000e+03  1.000000e+01
50%    4.506789e+08  1.504170e+08  3.595000e+03  3.540000e+01
75%    4.753104e+08  1.752116e+08  9.490000e+03  8.050000e+01
max    4.999976e+08  1.999978e+08  5.133570e+06  5.422222e+07

In [8]:
df_vitals.columns

Index(['op_id', 'subject_id', 'chart_time', 'item_name', 'value'], dtype='object')