<h1 style="font-size:36px;">Data exploration of INSPIRE, a publicly available research dataset for perioperative medicine</h1>

<h2 style="font-size:20px;">In this script data exploration and analysis of ""operations.csv" is shown</h2>

link: https://physionet.org/content/inspire/0.1/

A full list of the ICD-10-CM codes and the description can be found on the Centers for Disease Control and Prevention (CDC) website 
https://ftp.cdc.gov/pub/Health_Statistics/NCHS/Publications/ICD10CM/April-1-2023-Update/icd10cm-code%20descriptions-%20April%201%202023.zip.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import datasets  # Example, importing datasets module
import tensorflow as tf
import torch
import keras
import scipy
import statsmodels

print("Libraries Imported")

Libraries Imported

In [2]:
#test
"""
# Creating a NumPy array
arr = np.array([1, 2, 3, 4, 5])

# Creating a Pandas DataFrame
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

# Creating a Matplotlib plot
plt.plot([1, 2, 3], [4, 5, 6])

# Creating a Seaborn plot
sns.scatterplot(data=df, x='A', y='B')

# Creating a TensorFlow constant
tensor = tf.constant([1, 2, 3])

# Creating a PyTorch tensor
tensor = torch.tensor([1, 2, 3])

# Using Keras layers
model = keras.Sequential()
"""

"\n# Creating a NumPy array\narr = np.array([1, 2, 3, 4, 5])\n\n# Creating a Pandas DataFrame\ndata = {'A': [1, 2, 3], 'B': [4, 5, 6]}\ndf = pd.DataFrame(data)\n\n# Creating a Matplotlib plot\nplt.plot([1, 2, 3], [4, 5, 6])\n\n# Creating a Seaborn plot\nsns.scatterplot(data=df, x='A', y='B')\n\n# Creating a TensorFlow constant\ntensor = tf.constant([1, 2, 3])\n\n# Creating a PyTorch tensor\ntensor = torch.tensor([1, 2, 3])\n\n# Using Keras layers\nmodel = keras.Sequential()\n"

In [3]:
df_operations = pd.read_csv('c:\\Users\\20181588\\Desktop\\data\\old_inspire-a-publicly-available-research-dataset-for-perioperative-medicine-0.1\\inspire-a-publicly-available-research-dataset-for-perioperative-medicine-0.1\\operations.csv')

In [4]:
df_operations.head()

,op_id,subject_id,hadm_id,case_id,opdate,age,sex,weight,height,race,...,opend_time,admission_time,discharge_time,anstart_time,anend_time,cpbon_time,cpboff_time,icuin_time,icuout_time,inhosp_death_time
0,491416905,153073110,210586983,NaN,1440,50,F,62.0,160.0,Asian,...,2565.0,0,15840,2270.0,2580.0,NaN,NaN,NaN,NaN,NaN
1,467425045,134213281,225860669,NaN,1440,60,F,62.0,154.0,Asian,...,2150.0,0,5760,2070.0,2160.0,NaN,NaN,NaN,NaN,NaN
2,461473883,134195201,265770645,NaN,1440,35,F,50.0,160.0,Asian,...,2525.0,0,7200,2380.0,2530.0,NaN,NaN,NaN,NaN,NaN
3,439560439,163619571,279388936,NaN,0,75,F,65.0,154.0,Asian,...,565.0,0,0,545.0,570.0,NaN,NaN,NaN,NaN,NaN
4,459562341,132888590,267511777,NaN,0,60,F,53.0,149.0,Asian,...,725.0,0,0,700.0,725.0,NaN,NaN,NaN,NaN,NaN

In [13]:
df_operations.info(30)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52136 entries, 0 to 52135
Data columns (total 28 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   op_id              52136 non-null  int64
 1   subject_id         52136 non-null  int64
 2   hadm_id            52136 non-null  int64
 3   case_id            8456 non-null   float64
 4   opdate             52136 non-null  int64
 5   age                52136 non-null  int64
 6   sex                52136 non-null  object
 7   weight             51525 non-null  float64
 8   height             51817 non-null  float64
 9   race               52136 non-null  object
 10  asa                50770 non-null  float64
 11  emop               52136 non-null  int64
 12  department         52136 non-null  object
 13  antype             52136 non-null  object
 14  icd10_pcs          52136 non-null  object
 15  orin_time          52136 non-null  int64
 16  orout_time         52136 non-null  int64
 17  opstart_time       52129 non-null  float64
 18  opend_time         52130 non-null  float64
 19  admission_time     52136 non-null  int64
 20  discharge_time     52136 non-null  int64
 21  anstart_time       52110 non-null  float64
 22  anend_time         51984 non-null  float64
 23  cpbon_time         995 non-null    float64
 24  cpboff_time        995 non-null    float64
 25  icuin_time         5867 non-null   float64
 26  icuout_time        5867 non-null   float64
 27  inhosp_death_time  630 non-null    float64
dtypes: float64(13), int64(10), object(5)
memory usage: 11.1+ MB

In [11]:
unique_subject_ids = df_operations['op_id'].nunique()
print(unique_subject_ids)

52136

In [20]:
unique_icd10_pcs_values = df_operations['op_id'].unique()
print(unique_icd10_pcs_values[:30])

[491416905 467425045 461473883 439560439 459562341 480242953 462956682
 407131122 462673015 492199195 463210185 424243787 478126323 450072648
 495130773 440391574 425183852 422621849 476967226 441260506 494608241
 423574575 443346673 408917933 485438660 497009841 451762421 412170593
 491957284 445363081]

In [10]:
unique_subject_ids = df_operations['subject_id'].nunique()
print(unique_subject_ids)

39797

In [21]:
unique_icd10_pcs_values = df_operations['subject_id'].unique()
print(unique_icd10_pcs_values[:30])

[153073110 134213281 134195201 163619571 132888590 187733661 162604840
 125708871 153210670 169725911 175447891 176189590 145606001 127079820
 101336450 192250700 111270261 100894270 155068410 183209730 180650770
 166328701 193188581 167279320 157200810 102707350 101336061 125388150
 161344761 167485040]

In [15]:
unique_subject_ids = df_operations['icd10_pcs'].nunique()
print(unique_subject_ids)

1590

In [16]:
unique_icd10_pcs_values = df_operations['icd10_pcs'].unique()
print(unique_icd10_pcs_values[:30])

['0WTF0' '0GTK0' '09B00' '08DJ3' '02RG0' '0VTS0' '0TBB7' '03BY0' '10D00'
 '0TB14' '0UB94' '0UT90' '0WJG0' '0SBD0' '0LQ00' '0RHP0' '0SQC4' '0PB00'
 '03VG3' '09B70' '0NQ00' '09Q70' '09B04' '0FT10' '0YQ50' '0D160' '0DTF0'
 '0UJD8' '0GTK4' '0HX0X']

In [12]:
unique_subject_ids = df_operations['department'].nunique()
print(unique_subject_ids)

16

In [18]:
unique_icd10_pcs_values = df_operations['department'].unique()
print(unique_icd10_pcs_values[:16])

['OG' 'GS' 'OS' 'OT' 'CTS' 'UR' 'OL' 'NS' 'PS' 'EM' 'AN' 'RO' 'IM' 'PED'
 'DM' 'RAD']

OG: Obstetrics and Gynecology
GS: General Surgery
OS: Orthopedic Surgery
OT: Occupational Therapy (though in a department context, this might mean something else)
CTS: Cardiothoracic Surgery
UR: Urology
OL: Otolaryngology (Ear, Nose, and Throat or ENT)
NS: Neurosurgery or Neurological Surgery
PS: Plastic Surgery
EM: Emergency Medicine
AN: Anesthesiology
RO: Radiation Oncology
IM: Internal Medicine
PED: Pediatrics
DM:  Dhermathology
RAD: Radiology

In [14]:

unique_subject_ids = df_operations['antype'].nunique()
print(unique_subject_ids)

4

In [19]:
unique_icd10_pcs_values = df_operations['antype'].unique()
print(unique_icd10_pcs_values[:4])

['General' 'Neuraxial' 'MAC' 'Regional']

In [8]:
df_operations.describe()

,op_id,subject_id,hadm_id,case_id,opdate,age,weight,height,asa,emop,...,opend_time,admission_time,discharge_time,anstart_time,anend_time,cpbon_time,cpboff_time,icuin_time,icuout_time,inhosp_death_time
count,5.213600e+04,5.213600e+04,5.213600e+04,8456.000000,5.213600e+04,52136.000000,51525.000000,51817.000000,50770.000000,52136.000000,...,5.213000e+04,5.213600e+04,5.213600e+04,5.211000e+04,5.198400e+04,9.950000e+02,9.950000e+02,5.867000e+03,5.867000e+03,6.300000e+02
mean,4.503452e+08,1.500793e+08,2.501434e+08,2823.559721,2.286114e+05,55.779116,62.770616,162.243877,1.757869,0.094464,...,2.294944e+05,2.250770e+05,2.381962e+05,2.291690e+05,2.292944e+05,1.934579e+05,1.936545e+05,2.039039e+05,2.101391e+05,6.604273e+05
std,2.886314e+07,2.890252e+07,2.885156e+07,20864.115723,6.755455e+05,16.013686,12.394162,77.524374,0.637124,0.292477,...,6.755795e+05,6.751874e+05,6.772112e+05,6.751995e+05,6.753133e+05,6.966206e+05,6.966252e+05,6.497051e+05,6.513805e+05,9.848221e+05
min,4.000005e+08,1.000018e+08,2.000009e+08,-32763.000000,-1.440000e+03,20.000000,-1.000000,-1.000000,1.000000,0.000000,...,5.500000e+01,0.000000e+00,0.000000e+00,-1.000000e+01,6.500000e+01,7.950000e+02,9.550000e+02,1.000000e+01,6.950000e+02,7.850000e+02
25%,4.253818e+08,1.251564e+08,2.252350e+08,-19437.250000,1.440000e+03,45.000000,54.000000,156.000000,1.000000,0.000000,...,2.205000e+03,0.000000e+00,4.320000e+03,2.080000e+03,2.210000e+03,4.895000e+03,5.062500e+03,2.762500e+03,5.075000e+03,5.639500e+04
50%,4.505360e+08,1.504309e+08,2.502014e+08,8115.500000,2.880000e+03,60.000000,62.000000,162.000000,2.000000,0.000000,...,3.485000e+03,0.000000e+00,1.008000e+04,3.355000e+03,3.490000e+03,7.795000e+03,8.000000e+03,4.270000e+03,8.030000e+03,2.094125e+05
75%,4.754082e+08,1.750259e+08,2.752636e+08,20696.250000,1.008000e+04,70.000000,70.000000,168.000000,2.000000,0.000000,...,1.076500e+04,0.000000e+00,3.024000e+04,1.068500e+04,1.076500e+04,1.352250e+04,1.369000e+04,1.388000e+04,2.522000e+04,7.954600e+05
max,4.999976e+08,1.999978e+08,2.999984e+08,32767.000000,5.132160e+06,90.000000,454.000000,17409.000000,6.000000,1.000000,...,5.133565e+06,5.123520e+06,5.155200e+06,5.133090e+06,5.133570e+06,5.133215e+06,5.133375e+06,5.133635e+06,5.137400e+06,4.378470e+06

In [9]:
df_operations.columns

Index(['op_id', 'subject_id', 'hadm_id', 'case_id', 'opdate', 'age', 'sex',
       'weight', 'height', 'race', 'asa', 'emop', 'department', 'antype',
       'icd10_pcs', 'orin_time', 'orout_time', 'opstart_time', 'opend_time',
       'admission_time', 'discharge_time', 'anstart_time', 'anend_time',
       'cpbon_time', 'cpboff_time', 'icuin_time', 'icuout_time',
       'inhosp_death_time'],
      dtype='object')

reflections 16th oct:

-inhosp_death_time is intersting since it is basically deterioration
-disgharge time is interesting
-icuout_time is interesting

feedback update meeting 17th oct:

-operation time, op id?(discuss with arthur which type of surgeries would be useful for us), discharge time, inhospdeath 
-works that use public datset have higher impact, this one is better for science people can build on our work
-we want people to be able to reproduce our work and cite us
-for next week I need really to understan the INSPIRE dataset 
-download VBdataset
-if i really don't get the surgery type I can email authors