Data exploration of INSPIRE, a publicly available research dataset for perioperative medicine

In this script data exploration and analysis of ""diagnosis.csv" is shown

link: https://physionet.org/content/inspire/0.1/

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import datasets  # Example, importing datasets module
import tensorflow as tf
import torch
import keras
import scipy
import statsmodels

print("Libraries Imported")

Libraries Imported

In [2]:
#test
"""
# Creating a NumPy array
arr = np.array([1, 2, 3, 4, 5])

# Creating a Pandas DataFrame
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

# Creating a Matplotlib plot
plt.plot([1, 2, 3], [4, 5, 6])

# Creating a Seaborn plot
sns.scatterplot(data=df, x='A', y='B')

# Creating a TensorFlow constant
tensor = tf.constant([1, 2, 3])

# Creating a PyTorch tensor
tensor = torch.tensor([1, 2, 3])

# Using Keras layers
model = keras.Sequential()
"""

"\n# Creating a NumPy array\narr = np.array([1, 2, 3, 4, 5])\n\n# Creating a Pandas DataFrame\ndata = {'A': [1, 2, 3], 'B': [4, 5, 6]}\ndf = pd.DataFrame(data)\n\n# Creating a Matplotlib plot\nplt.plot([1, 2, 3], [4, 5, 6])\n\n# Creating a Seaborn plot\nsns.scatterplot(data=df, x='A', y='B')\n\n# Creating a TensorFlow constant\ntensor = tf.constant([1, 2, 3])\n\n# Creating a PyTorch tensor\ntensor = torch.tensor([1, 2, 3])\n\n# Using Keras layers\nmodel = keras.Sequential()\n"

In [3]:
df_diagnosis = pd.read_csv('c:\\Users\\20181588\\Desktop\\data\\inspire-a-publicly-available-research-dataset-for-perioperative-medicine-0.1\\inspire-a-publicly-available-research-dataset-for-perioperative-medicine-0.1\\diagnosis.csv')

In [4]:
df_diagnosis.head()

   subject_id  chart_time icd10_cm
0   128748700        1440      R35
1   109644621       -1440      S02
2   189240010      -40320      C18
3   189240010       -1440      S42
4   197356761     -256320      N40

In [5]:
df_diagnosis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1888376 entries, 0 to 1888375
Data columns (total 3 columns):
 #   Column      Dtype
---  ------      -----
 0   subject_id  int64
 1   chart_time  int64
 2   icd10_cm    object
dtypes: int64(2), object(1)
memory usage: 43.2+ MB

In [6]:
df_diagnosis.describe()

         subject_id    chart_time
count  1.888376e+06  1.888376e+06
mean   1.499921e+08  1.084404e+06
std    2.891932e+07  1.220337e+06
min    1.000018e+08 -2.592000e+05
25%    1.250988e+08  7.056000e+04
50%    1.501769e+08  6.321600e+05
75%    1.747914e+08  1.791360e+06
max    1.999978e+08  5.336640e+06

In [7]:
df_diagnosis.columns

Index(['subject_id', 'chart_time', 'icd10_cm'], dtype='object')